.entry-body {
    .entry-body__content {
        font-family: $font-family-serif;
        font-size: 20px;
        font-weight: $font-weight-content;
        color: $color-title;
        line-height: 1.5;
        margin: 30px 0;
    }
}