.form-title {
    font-size: 36px;
    font-weight: $font-weight-title;
}

.custom-form-group {
    font-family: $font-family-serif;

    label {
        font-size: 1.0em;
        color: $color-secondary;
        margin-bottom: 0;
    }

    .custom-text-input {
        @include custom-form(1.5em);
    }

    .custom-textarea {
        @include custom-form(1em);
    }
}
