body {
  /*
  background-color: blue;
  */
}

body .site-heading {
  position: relative;
  background-color: #fff;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("/../images/home-bg.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/../images/home-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  font-family: "Open Sans", sans-serif;
  color: #fff;
  margin-bottom: 3rem;
}

body .site-heading__title-container {
  padding: 200px 0;
}

body .site-heading__title-container__title {
  font-size: 80px;
  font-weight: 800;
}

body .site-heading__title-container__subtitle {
  font-size: 24px;
  font-weight: 300;
}

body main .home-entries {
  background-color: white;
}

body main .home-entries .entry-container {
  color: #212529;
  font-family: "Open Sans", sans-serif;
}

body main .home-entries .entry-container__title {
  font-size: 36px;
  font-weight: 800;
}

body main .home-entries .entry-container__title a {
  color: #212529;
}

body main .home-entries .entry-container__content {
  font-size: 1.75rem;
  font-weight: 300;
  line-height: 1.2;
}

body main .home-entries .entry-container__author-date {
  font-family: "Lora", serif;
  font-size: 18px;
  font-style: italic;
  color: #868e96;
}

